---
import Layout from '../../layouts/Layout.astro';
import Button from '../../components/Button.astro';
const pageTitle = "Astroについて";
const pageClass = "about";
---

<Layout pageTitle={ pageTitle } pageClass={ pageClass }>
  <div class="page">
    <div class="page-ttl">
      <h1>{ pageTitle }</h1>
    </div>
  </div>
  <div class="contents">
    <div class="inner">
      <p class="lead">Astro は、スピードを重視して設計されたオールインワンの Web フレームワークです。<br>お気に入りの UI コンポーネントとライブラリを利用して、どこからでもコンテンツを取得し、どこにでもデプロイできます。</p>
      <Button
        href="/works/"
        title="導入事例"
      />
    </div>
  </div>
</Layout>

<style>
  .lead {
    text-align: center;
  }
  .btn {
    margin: 40px auto;  // 効かない
  }
</style>