---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "導入事例";
const pageClass = "works";
---

<Layout pageTitle={ pageTitle } pageClass={ pageClass }>
  <div class="page">
    <div class="page-ttl">
      <h1>{ pageTitle }</h1>
    </div>
  </div>
</Layout>