---
---
<ul class="nav-links">
  <li><a href="/">Home</a></li>
  <li><a href="/about/">About</a></li>
  <li><a href="/works/">Works</a></li>
</ul>

<style>
  .nav-links {
    display: flex;
    list-style: none;
  }
  .nav-links li {
    margin: 0 10px;
  }
  .nav-links a {
    text-decoration: none;
    color: #333;
  }
</style>